div {
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
}

button, input {
    outline: none;
}

/* colors */
$color-list: (
    'gray1': #4f4f4f,
    'gray2': #828282,
    'gray3': #bdbdbd
);

@each $key, $value in $color-list {
    .text-#{$key} {
        color: $value;
    }
}

/* root */
.root {
    align-items: center;
    display: flex;
    font-family: 'Poppins', 'Roboto', 'sans-serif';
    justify-content: center;
    padding: 20px 10px;
    min-height: 100vh;
    min-width: 350px;

    .submit-input {
        display: none;
    }
}

/* animations */
.animated {
    animation-duration: 0.3s;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* all */
.image-upload,
.upload-progress,
.upload-success {
    @extend .animated;
    @extend .fadeIn;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(#000, 10%);
    padding: 36px 32px;
    min-width: 350px;
    max-width: 400px;
}

/* image-upload */
#image-upload.ng-invalid.ng-touched {
    .iu-header-feed {
        color: #ff5575;
        transform: scale(1.05, 1.05);
    }
}

.image-upload {
    display: grid;
    grid-template-rows: repeat(3, auto);

    .image-upload-header {
        line-height: 1.5em;
        text-align: center;
        margin-bottom: 30px;

        .iu-header-title {
            font-weight: normal;
            font-size: 18px;
            margin-bottom: 16px;
        }

        .iu-header-feed {
            display: block;
            font-size: 10px;
            transition: all 0.3s;
        }
    }

    .image-upload-body {
        line-height: 1.5em;

        .iu-body-dnd.dragover {
            > .dnd-text {
                @extend .text-gray2;
            }
        }

        .iu-body-dnd {
            align-items: center;
            background-color: #F6F8FB;
            border: 2px dashed #97BEF4;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            padding: 35px 0 40px 0;

            > .dnd-image {
                background-image: url('./assets/svgs/image.svg');
                background-position: center;
                background-size: contain;
                margin: 0;
                margin-bottom: 38px;
                width: 115px;
                height: 90px;
            }

            > .dnd-text {
                font-size: 12px;
                transition: color 0.3s;
            }
        }
    }

    .image-upload-input-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        
        .or {
            font-size: 12px;
            padding: 19px 0 22px 0;
        }

        .btn {
            background-color: #2F80ED;
            border-radius: 12px;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            transition: all 0.3s;
            padding: 0.65em 2.5em;

            &:hover {
                background-color: lighten(#2F80ED, 10%);
            }
        }
    
        > .file-input {
            display: none;
        } 
    }
}

/* upload-progress */
.upload-progress {
    padding-bottom: 42px;

    .uploading-text {
        font-size: 18px;
        line-height: 1.5em;
    }

    .progressbar {
        background-color: #F2F2F2;
        margin-top: 30px;

        .bar {
            background-color: #2F80ED;
            border-radius: 12px;
            transition: width 1s;            
            height: 6px;
        }
    }
}

/* upload-success */
.upload-success {
    padding-bottom: 54px;
    padding-top: 40px;

    .upload-success-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;

        .check {
            background-image: url('./assets/svgs/check.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: 0;
            margin-bottom: 12px;
            width: 35px;
            height: 35px;
        }

        .us-header-text {
            font-size: 18px;
            line-height: 1.5em;
        }
    }

    .img-container {
        border-radius: 12px;
        overflow: hidden;
        margin-bottom: 25px;
        
        > img {
            display: block;
            object-fit: cover;
            width: 100%;
            max-height: 350px;
        }
    }

    .img-link {
        border: 1px solid #E0E0E0;
        border-radius: 12px;
        display: flex;
        font-size: 10px;
        line-height: 1.5em;
        position: relative;
        padding: 2px;

        .link-input {
            background-color: transparent;
            border: none;
            flex: 1 0 auto;
            font-size: inherit;
            line-height: inherit;
            padding: 0 1.75em;
        }

        .copy-to-clipboard {
            border: none;
            background-color: #2F80ED;
            border-radius: 12px;
            cursor: pointer;
            color: #fff;
            flex: 0 0 auto;
            font-size: inherit;
            line-height: inherit;
            transition: background 0.3s;
            padding: 1.125em 2.5em;

            &:hover {
                background-color: lighten(#2F80ED, 10%);
            }
        }

        &::after {
            color: #32BEA6;
            content: "Link copied!";
            display: block;
            font-size: 10px;
            line-height: 1.5em;
            position: absolute;
            opacity: 0;
            text-align: center;
            transition: opacity 0.3s; 
            padding-top: 2em;
            top: 100%;
            width: 100%;
        }

        &.copied::after {
            opacity: 1;
        }
    }
}
